<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Prescript.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="{{ site.author.name }}" />
	<meta name="author" content="Prescript.js : Fixing up inline scripts and dependency" />

    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" >

	<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href="http://{{site.github}}.github.com/static/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>

  {% capture repo_url %}https://github.com/{{site.github}}/{{site.github}}.github.com{% endcapture %}

  <div id="main">

    <div id="header"><a href="/">{{site.github}}</a></div>

    <div id="content">
      
      <div class="main-content"><div class="inner">
          <div class="header">
          	<h1>Prescript.js</h1><i></i>
          	<span class="date">Fixing up inline scripts and dependency</span>
          </div>
          
        <div class="post-content">{{ content }}</div>
      </div></div>

      <div class="side-content"><div class="inner">
	
		<div class="download">
		    <h2>Download<i></i></h2>
		    <a class="forkme" href="https://github.com/insaindesign/prescript.js">Fork me on GitHub</a>
			<ul>
			    <li><a class="zip-download-link" href="https://github.com/insaindesign/prescript.js/zipball/master">Download this project as a .zip file</a>
                <li><a class="tar-download-link" href="https://github.com/insaindesign/prescript.js/tarball/master">Download this project as a tar.gz file</a>
            </ul>
        </div>
	</div>

      </div>

    </div>
  </div>

  <div id="footer">
      <p class="copyright">Prescript.js maintained by <a href="https://github.com/insaindesign">insaindesign</a></p>
      <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
  </div>

  {% include analytics %}
</body>
</html>